<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Perfectum Dashboard - Perfect Bootstrap Admin Template</title>
	<meta name="description" content="Perfectum Dashboard Bootstrap Admin Template.">
	<meta name="author" content="?ukasz Holeczek">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ base_url() }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ base_url() }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="{{ base_url() }}bootstrap/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="{{ base_url() }}bootstrap/css/style-responsive.css" rel="stylesheet">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="{{ base_url() }}bootstrap/css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="{{ base_url() }}bootstrap/css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="{{ base_url() }}bootstrap/img/favicon.ico">
	<!-- end: Favicon -->
	
			<style type="text/css">
			body { background: url({{ base_url() }}bootstrap/img/bg-login.jpg) !important; }
		</style>
		
		
		
</head>

<body>
    <div class="container-fluid">
        {% block content %}



        {% endblock %}
        
                        
    </div><!--/.fluid-container-->

	<!-- start: JavaScript-->

	<script src="{{ base_url() }}bootstrap/js/jquery-1.9.1.min.js"></script>
	<script src="{{ base_url() }}bootstrap/js/jquery-migrate-1.0.0.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery-ui-1.10.0.custom.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.ui.touch-punch.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/bootstrap.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.cookie.js"></script>	
	<script src='{{ base_url() }}bootstrap/js/fullcalendar.min.js'></script>	
	<script src='{{ base_url() }}bootstrap/js/jquery.dataTables.min.js'></script>
	<script src="{{ base_url() }}bootstrap/js/excanvas.js"></script>
	<script src="{{ base_url() }}bootstrap/js/jquery.flot.min.js"></script>
	<script src="{{ base_url() }}bootstrap/js/jquery.flot.pie.min.js"></script>
	<script src="{{ base_url() }}bootstrap/js/jquery.flot.stack.js"></script>
	<script src="{{ base_url() }}bootstrap/js/jquery.flot.resize.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.chosen.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.uniform.min.js"></script>		
	<script src="{{ base_url() }}bootstrap/js/jquery.cleditor.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.noty.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.elfinder.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.raty.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.iphone.toggle.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.gritter.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.imagesloaded.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.masonry.min.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.knob.js"></script>	
	<script src="{{ base_url() }}bootstrap/js/jquery.sparkline.min.js"></script>
	<script src="{{ base_url() }}bootstrap/js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
