{% extends '_layouts/admin_base.html.twig' %}

{% block content %}

<div class="row-fluid">
    <a class="quick-button-small span1">
        <i class="icon-envelope"></i>
        <p>Unread Messages</p>
        <span class="notification green">+ 11</span>
    </a>
</div>

<hr>

<div class="row-fluid">
    <div class="box span12 noMargin" onTablet="span12" onDesktop="span12">
        <div class="box-header">
            <h2><i class="icon-list"></i><span class="break"></span>Messages</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>                
            </div>
        </div>
        <div class="box-content">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#uMessages">Unread Message</a></li>
                <li><a href="#messages">Inbox</a></li>
                <li><a href="#send">Send</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="uMessages">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                              <thead>
                                      <tr>
                                              <th>From</th>
                                              <th>Date</th>
                                              <th>Email</th>
                                              <th>Company</th>
                                              <th>Website</th>
                                              <th>Message</th>
                                      </tr>
                              </thead>   
                              <tbody>
                                    {% for message in unread %}
                                    <tr>
                                            <td>{{ message.name}}</td>
                                            <td>{{ message.date_post}}</td>
                                            <td>{{ message.email}}</td>
                                            <td>{{ message.company}}</td>
                                            <td>{{ message.website}}</td>
                                            <td>{{ message.content}}</td>
                                    </tr>
                                    {% endfor %}
                              </tbody>
                      </table>
            </div>
            <div class="tab-pane" id="messages">
                Ini inbox
            </div>
            <div class="tab-pane" id="send">
                ini pesan yang udah dikirim
            </div>
        </div>
        <script>
        $(function () {
            $('#myTab a:last').tab('show');
        })
        </script>
    </div>
</div><!--/span-->

</div> 

<hr>

{% endblock %}