{% extends '_layouts/admin_base.html.twig' %}

{% block content %}



<div class="row-fluid">
  <div class="box span12 noMargin" onTablet="span12" onDesktop="span12">
    <div class="box-header">
      <h2><i class="icon-list"></i><span class="break"></span>Messages</h2>
      <div class="box-icon">
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>                
      </div>
    </div>
    <div class="box-content">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#uMessages">Unread Message</a></li>
        <li><a href="#messages">Inbox</a></li>
        <li><a href="#send">Send</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="uMessages">
          <table class="table bootstrap-datatable datatable">
            <thead>
              <tr>
                <th>From</th>
                <th>Date</th>
                <th>Email</th>
                <th>Message</th>
              </tr>
            </thead>   
            <tbody>
              {% for message in unread %}
              <tr>
                <td>{{ message.name}}</td>
                <td>{{ message.date_post}}</td>
                <td>{{ message.email}}</td>
                <td><a href="{{base_url()}}admin/get/singleMail/{{message.id_contact}}" onclick="setRead({{message.id_contact}})">{{ message.content|slice(0,50) }}...<a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="messages">
          <table class="table bootstrap-datatable datatable">
            <thead>
              <tr>
                <th>From</th>
                <th>Date</th>
                <th>Email</th>
                <th>Message</th>
              </tr>
            </thead>   
            <tbody>
              {% for messages in inbox %}
              <tr>
                <td>{{ messages.name}}</td>
                <td>{{ messages.date_post}}</td>
                <td>{{ messages.email}}</td>
                <td><a href="{{base_url()}}admin/get/singleMail/{{messages.id_contact}}">{{ messages.content|slice(0,50) }}...</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="send">
          <table class="table bootstrap-datatable datatable">
            <thead>
              <tr>
                <th>To</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Message</th>
              </tr>
            </thead>   
            <tbody>
              {% for outbox in outbox %}
              <tr>
                <td>{{ outbox.email}}</td>
                <td>{{ outbox.date_sent}}</td>
                <td>{{ outbox.subject}}</td>
                <td><a href="{{base_url()}}admin/get/singleOutbox/{{outbox.id_outbox}}">{{ outbox.content|slice(0,50) }}...</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <script>
      $(function () {
        $('#myTab a:first').tab('show');
      })
      </script>
    </div>
  </div><!--/span-->
</div> 
<hr>
{% endblock %}