{% extends '_layouts/front.html.twig' %}
{% block content %}
<div class="align">
    <i class="icon-desktop-circled"></i>
</div>
<h1 id="folio-headline">Portfolio</h1>
<!-- bikin looping buat post post yang ada -->


{{ pager }}

{% for posts in list_posts %}
<div class="row">
    <div class="span3">
        <div class="mask2"> <a href="{{ base_url(posts.thumbnail) }}" rel="prettyPhoto"><img src="{{ base_url(posts.thumbnail) }}" alt=""></a> </div>
    </div>
    <div class="span9">
        <div class="inside">
            <hgroup>
                <h2>{{ posts.title }} </h2>
                <h4>Diterbitkan tanggal : {{ posts.date_post}}</h4>
            </hgroup>
            <div class="entry-content">
                <p>{{posts.note}}</p>
                <a class="more-link" href="{{ base_url() }}portfolio/detail/{{ posts.id_post }}">Read More</a>
            </div>
        </div>
    </div>
</div>   

{% endfor %} 

{{ pager }}



{% endblock %}
        